mixin footer()
	footer.footer
		div.footer__container
			small.footer__text.footer__text_style © 1992 - 2020 Честный Агент © Все права защищены.
			small.footer__text.footer__text_style 8 (495) 150-21-12

 
