mixin popup-delete()
	div.popup-delete
		div.popup-delete__align-wrapper
			div.popup-delete__main-window
				h3.popup-delete__title Удалить карточку
				h5.popup-delete__small-title Отправить карточку организации в архив?
				div.popup-delete__buttons-wrapper
					button.popup-delete__cancel-button ОТМЕНА
					button.popup-delete__accept-button УДАЛИТЬ