mixin sidebar()
	div.sidebar
		div.sidebar__controls-wrapper
			ul.sidebar__controls-list
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#home')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#basket')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#helmet')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#rule')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#administration')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#agentservice')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#search')
			ul.sidebar__controls-list
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#menu')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#contactors')
				li.sidebar__controls-list-item
					button.sidebar__button
						svg.sidebar__icon
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#exit')
		div.sidebar__content-wrapper
			h4.sidebar__content-title ЧЕСТНЫЙ АГЕНТ
			h5.sidebar__content-small-title МЕНЕДЖЕР ПРОГРЕССА
			ul.sidebar__content-list
				li.sidebar__content-item
					button.sidebar__content-button.sidebar__content-button_active
						svg.sidebar__icon.sidebar__icon_green
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='images/svg/svg_sprite.svg#calculator')
						h5.sidebar__content-list-title Организации
					